html {
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
}

body {
    font-family:"Iowan Old Style",Palatino,Palatino Linotype,"Palatino LT STD",Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    margin: 0;
    padding: 9rem 1.5rem 1.5rem;
    color: rgb(69, 69, 69);
}

main {
  display: block;
}

article {
    margin-bottom: 7rem;
}

h1, article p, nav, footer {
    max-width: 34rem;
    margin-left:auto;
    margin-right: auto
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    text-align:center;
    font-size: 1rem;
    font-weight: 700;
    margin: 2em 0 1em;
}

nav, footer {
    text-align:center;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

nav > p {
    font-style: italic;
    font-size: .9rem;
    text-align: center;
    margin: 1rem auto 5rem;
}

img {
  border-style: none;
}


[hidden] {
  display: none;
}

.archive {
    display: flex;
    align-items: baseline;
}

.archive p {
    margin: 0;
    flex: 0 1 auto;  
}

.spacer {
    display: block;
    flex: 1 0 auto;
    margin: 0 1rem;
    height: 1px;
    border-bottom: 1px solid rgb(230,230,230);
 }

footer {
    margin: 7rem auto 5rem;
}

footer a, p a {
    border-bottom: .33em solid rgb(240,240,240);
}

footer a {
    margin: .3rem;
}
